/* ------------------------------- */
/* ROOT VARIABLES */
/* ------------------------------- */
:root {
  --main-yellow: #bbd547;
  --main-green: #81b36e;
  --main-blue: #429099;
  --main-dblue: #1375b8;
}

/* ------------------------------- */
/* RESETS */
/* ------------------------------- */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  line-height: 1.3;
  font-family: Arial, Helvetica, sans-serif;
}

ul {
  list-style-type: none;
}

i {
  color: gray;
  font-size: 20px;
}

a {
  color: white;
  text-decoration: none;
  display: block;
}

button {
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 5px;
}

/* ------------------------------- */
/* PSEUDO-CLASSES */
/* ------------------------------- */

/* HEADER */
.main-nav button:hover i,
.main-nav button:active i,
.main-nav button:focus i,
.main-nav button:visited i,
.header-icons a:first-child:hover i,
.header-icons a:first-child:active i,
.header-icons a:first-child:focus i,
.header-icons a:first-child:visited i,
.header-links ul li:first-child a:hover,
.header-links ul li:first-child a:active,
.header-links ul li:first-child a:focus,
.header-links ul li:first-child a:visited {
  color: var(--main-yellow);
}

.header-icons a:nth-child(2):hover i,
.header-icons a:nth-child(2):active i,
.header-icons a:nth-child(2):focus i,
.header-icons a:nth-child(2):visited i,
.header-links ul li:nth-of-type(2) a:hover,
.header-links ul li:nth-of-type(2) a:active,
.header-links ul li:nth-of-type(2) a:focus,
.header-links ul li:nth-of-type(2) a:visited {
  color: var(--main-green);
}

.header-icons a:nth-child(3):hover i,
.header-icons a:nth-child(3):active i,
.header-icons a:nth-child(3):focus i,
.header-icons a:nth-child(3):visited i,
.header-links ul li:nth-of-type(3) a:hover,
.header-links ul li:nth-of-type(3) a:active,
.header-links ul li:nth-of-type(3) a:focus,
.header-links ul li:nth-of-type(3) a:visited {
  color: var(--main-blue);
}

.header-icons a:last-child:hover i,
.header-icons a:last-child:active i,
.header-icons a:last-child:focus i,
.header-icons a:last-child:visited i,
.header-links ul li:last-child a:hover,
.header-links ul li:last-child a:active,
.header-links ul li:last-child a:focus,
.header-links ul li:last-child a:visited {
  color: var(--main-dblue);
}

.dropdown-menu ul li:first-child {
  background-color: var(--main-yellow);
}

.dropdown-menu ul li:nth-child(2) {
  background-color: var(--main-green);
}

.dropdown-menu ul li:nth-child(3) {
  background-color: var(--main-blue);
}

.dropdown-menu ul li:last-child {
  background-color: var(--main-dblue);
}

/* MAIN */
.who-we-are .image:hover i,
.what-we-do .card:hover i {
  color: var(--main-yellow);
}

/* FOOTER */
.footer .circle-bg:hover i,
.footer .circle-bg:active i,
.footer .circle-bg:focus i,
.footer .circle-bg:visited i {
  color: var(--main-yellow);
}

/* ------------------------------- */
/* HEADER */
/* ------------------------------- */
.header {
  padding: 10px 16px;
  position: relative;
}

.header .flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  width: 120px;
}

.logo {
  width: 100%;
}

.main-nav {
  display: flex;
  align-items: center;
}

.search-bar {
  margin-left: 16px;
}

.dropdown-menu {
  position: absolute;
  margin-top: 10px;
  left: 0;
  width: 100%;
  display: none;
  background: white;
}

.dropdown-menu.active {
  display: block;
}

.dropdown-menu ul li {
  width: 100%;
  margin-bottom: 1px;
  padding: 5px 10px;
  color: white;
  text-transform: uppercase;
  font-size: 12px;
}

.search-container {
  display: none;
}

.search-container.active {
  display: block;
}

.search-container input {
  width: 100%;
  padding: 5px;
  border: 1px solid gray;
  border-radius: 3px;
  margin-top: 10px;
}

/* ------------------------------- */
/* HEADER - MIN 320PX */
/* ------------------------------- */
.header-icons {
  display: none;
}

.header-icons i {
  margin: 0 10px;
}

/* ------------------------------- */
/* HEADER - MIN 768PX */
/* ------------------------------- */
.header-links {
  display: none;
}

.header-links ul {
  display: flex;
  align-items: center;
}

.header-links ul li {
  margin-left: 30px;
}

.header-links ul a {
  color: gray;
  text-transform: uppercase;
  font-weight: 600;
}

.header-links p {
  margin-left: 25px;
  color: gray;
}

/* ------------------------------- */
/* MAIN */
/* ------------------------------- */

/* HERO SECTION */
.main .gradient {
  height: 5px;
  background: linear-gradient(
    to right,
    #bbd547 0%,
    #81b36e 33%,
    #429099 66%,
    #1375b8 100%
  );
}

.hero .container-bg {
  height: 220px;
  background-image: url("./img/hero_bg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
}

.hero .container-bg h1 {
  display: none;
}

.hero img {
  margin: auto;
  width: 30%;
}

.hero .text-slider {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 20px 0;
  border-bottom: 1px solid lightgray;
}

.hero h1 {
  text-transform: uppercase;
  font-size: 15px;
  color: gray;
}

.hero i {
  color: lightgray;
  padding: 0 5px;
}

.dots-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  padding: 15px 0;
  display: none;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: gray;
  margin: 0 5px;
}

/* WHO WE ARE SECTION */
.container {
  max-width: 550px;
  margin: 0 auto;
}

.who-we-are {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.who-we-are h1 {
  font-size: 30px;
  text-transform: uppercase;
  color: gray;
  text-align: center;
  font-weight: 500;
}

.who-we-are .card-container {
  margin-top: 15px;
}

.who-we-are .card {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  color: gray;
  font-weight: 600;
  max-width: 200px;
}

.who-we-are .image {
  background: lightgray;
  width: 200px;
  height: 150px;
  display: flex;
  color: gray;
  margin-bottom: 10px;
}

.who-we-are .card i {
  margin: auto;
  font-size: 50px;
}

.who-we-are .card-text {
  display: flex;
  flex-direction: column;
}

.who-we-are .description {
  display: none;
}

.who-we-are button {
  align-self: flex-end;
  text-transform: uppercase;
  color: gray;
  font-weight: 600;
  margin-top: 10px;
}

/* WHAT WE DO SECTION */
.what-we-do {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.what-we-do h1 {
  font-size: 30px;
  text-transform: uppercase;
  color: gray;
  text-align: center;
  font-weight: 500;
  margin-bottom: 15px;
}

.what-we-do .card {
  background: lightgray;
  width: 200px;
  height: 150px;
  display: flex;
  margin-bottom: 50px;
}

.what-we-do i {
  margin: auto;
  font-size: 50px;
}

/* FOOTER */
.footer {
  background: gray;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.footer .social-media-container {
  display: flex;
  align-items: center;
}

.footer .circle-bg {
  background: white;
  width: 30px;
  height: 30px;
  display: flex;
  border-radius: 50%;
  margin-right: 15px;
}

.footer i {
  font-size: 16px;
  margin: auto;
}

.footer-links {
  display: none;
}

/* ------------------------------- */
/* MEDIA QUERIES */
/* ------------------------------- */
/* 480PX */
@media (min-width: 480px) {
  /* HEADER */
  .header-icons {
    display: flex;
  }
  .navbar,
  .dropdown-menu {
    display: none;
  }
  .dropdown-menu.active {
    display: none;
  }

  /* HERO SECTION*/
  .hero .text-slider {
    display: none;
  }
  .hero img {
    margin: 0 20px 0 0;
    max-width: 200px;
  }
  .hero .container-bg {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid lightgray;
    position: relative;
    height: 270px;
  }
  .hero .container-bg h1 {
    display: block;
    font-size: 40px;
  }
  .hero .dots-container {
    display: flex;
  }

  /* WHO WE ARE SECTION*/
  .who-we-are .card-container {
    margin-right: auto;
  }
  .who-we-are .card {
    display: flex;
    flex-direction: row;
  }
  .who-we-are h1 {
    align-self: flex-start;
  }
  .who-we-are .image {
    min-width: 200px;
    max-width: 200px;
    margin-bottom: 0;
  }
  .who-we-are .card {
    margin-bottom: 50px;
  }
  .who-we-are .description {
    display: block;
    font-size: 12px;
  }
  .who-we-are .card-text {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 200px;
  }

  /* WHAT WE DO SECTION */
  .what-we-do {
    padding: 30px;
    align-items: flex-start;
  }
  .what-we-do h1 {
    align-self: flex-start;
  }
  .what-we-do .flex {
    display: flex;
    justify-content: center;
  }
  .what-we-do .one,
  .what-we-do .two {
    margin-right: 50px;
  }

  /* FOOTER */
  .footer {
    padding: 10px 30px;
  }
}

/* 768PX */
@media (min-width: 768px) {
  /* HEADER */
  .header-icons {
    display: none;
  }
  .header-links {
    display: block;
  }
  .search-bar {
    margin-left: 50px;
  }

  /* HERO SECTION */
  .hero .container-bg {
    height: 350px;
  }
  .hero img {
    margin-right: 40px;
  }

  /* FOOTER */
  .footer-links {
    display: block;
  }

  .footer-links ul {
    display: flex;
    align-items: center;
  }

  .footer-links ul li {
    margin: 0 15px;
  }

  .footer-links ul a {
    color: darkgray;
    text-transform: uppercase;
    font-weight: 600;
  }
}
